@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "A szállásról";
}

<section class="about">
    <div class="container">
        <div class="about-content">
            <h2 class="h1">A szállásról</h2>
        </div>
        <div class="d-flex flex-md-row align-items-center flex-wrap gap-4">

            <div class="d-flex gap-4">
                <div class="about-card">
                    <h4>
                        Hol vagyunk?
                    </h4>
                    <p class="card-text">
                        Piricske egy üdülőfalu, Erdély keleti részén, Székelyföldön, Csíkszereda szomszédságában fekvő Csíkcsicsó község birtokán helyezkedik el. Az átlagos 900-1100 méteres tengerszint feletti magasságban, festői környezetben közel 200 magántulajdonban levő ház található.
                    </p>
                </div>


                <div class="about-card">
                    <h4>
                        Miért válassz minket?
                    </h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum incidunt, consectetur natus, cumque iusto soluta eos veritatis, aliquid ullam cupiditate rem aspernatur cum. Consequuntur vel repellat eveniet labore in accusantium.
                    </p>
                </div>

            </div>


            <div class="d-flex gap-4">
                <div class="about-card">
                    <h4>
                        Látványosságok a környéken
                    </h4>
                    <p class="card-text">
                        Piricske számos csillagtúra kiindulópontja lehet: az autós turisták számára Csíkszereda, Székelyudvarhely, Parajd, Szováta, Marosvásárhely, Marosfő, Gyergyószentmiklós, Gyilkos-tó, Borszék, Tusnádfürdő, Szent Anna tó, Sepsiszentgyörgy, Kézdivásárhely, Kovászna és Barót, közelíthető meg rövid idő alatt.
                    </p>
                </div>

                <div class="about-card">
                    <h4>
                        Programlehetőségek
                    </h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum incidunt, consectetur natus, cumque iusto soluta eos veritatis, aliquid ullam cupiditate rem aspernatur cum. Consequuntur vel repellat eveniet labore in accusantium.
                    </p>
                </div>


            </div>

        </div>


    </div>




</section>