@{
    ViewData["Title"] = "Piricske 175";
}
<body>
    <div class="background-image">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            @*<image src="../images/main/21765652_1412514325484667_3290890801359768294_o.jpg"/>*@
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </div>
</body>

