@{
    ViewData["Title"] = "Piricske 175";
}
<body class="background-image">
    <div class="text-center">
        <div id="middleText">
            <h1 id="mainText" class="display-1">Piricske 175</h1>
            <p id="mainText">Itt egy csomó mindent megtudhatsz a szállásról.</p>

        </div>

    </div>

</body>


