@{
    ViewData["Title"] = "Piricske 175";
}
<div class="background-image">
    <div class="text-center">
        <div id="middleText">
            <h1 id="mainText" class="display-1">Piricske <br />175</h1>
            <p id="mainText">Itt egy csomó mindent megtudhatsz a szállásról.</p>
        </div>
    </div>
    <div class="container-fluid colorBg">
        <div class="container">
            <h1>Mikor jönnél?</h1>
            <p>itt tudsz majd szállást foglalni</p>
            <ol>
                <li>tól</li>
                <li>ig</li>
            </ol>
            <buton class="bg-light">foglalás</buton>
        </div>
    </div>
    <div class="container-fluid colorBg">
        <div class="container">
            <h1>Mikor jönnél?</h1>
            <p>itt tudsz majd szállást foglalni</p>
            <ol>
                <li>tól</li>
                <li>ig</li>
            </ol>
            <buton class="bg-light">foglalás</buton>
        </div>
    </div>
</div>



