@{
    ViewData["Title"] = "Piricske 175";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<div class="background-image">
    <p>lajos</p>
    <div class="text-center">
        <h1 class="display-4">Üdvözöljük a Piricske 175 nyaraló honlapján</h1>
        
        <p>Itt egy csomó mindent megtudhatsz a szállásról.</p>
    </div>
</div>


