html {
    font-size: 14px;
    font-family: var(--ff-quicksand);
    scroll-behavior: smooth;
    position: relative;
    min-height: 100%; 
/*last two were in different html class*/
}

/*@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}*/


body {
  margin-bottom: 60px;
  background: var(--white);
}

/*.background-image {
    margin:0;
    background-image: url('../images/main/mainBg.jpg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}*/
/*#middleText {
    padding: 200px;
    text-align: center;

}*/

/*#mainText{
    font-weight:500;

}*/
:root {
    /*colors*/
    --raisin-black-2: hsl(245, 16%, 16%);
    --raisin-black-1: hsl(244, 17%, 19%);
    --majorelle-blue: hsl(245, 67%, 59%);
    --ghost-white-1: hsl(240, 100%, 99%);
    --ghost-white-2: hsl(228, 50%, 96%);
    --white-opacity: hsla(0, 0%, 100%, 0.5);
    --independence: hsl(245, 17%, 27%);
    --lavender-web: hsl(247, 69%, 95%);
    --eerie-black: hsl(210, 11%, 15%);
    --cool-gray: hsl(244, 17%, 61%);
    --sapphire: hsl(211, 100%, 35%);
    --white: hsl(0, 0%, 100%);
    /*fonts*/
    --ff-quicksand: "Quicksand", sans-serif;
    --ff-mulish: "Mulish", sans-serif;
    /*fontsize*/
    --fs-1: 36px;
    --fs-2: 28px;
    --fs-3: 20px;
    --fs-4: 17px;
    --fs-5: 16px;
    --fs-6: 15px;
    --fs-7: 14px;
    /*Font Weight*/
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    /*transition*/
    --transition: 0.25s ease;
    /*Spacing*/
    --section-padding: 80px;
}

/*.logo{
    width:5vh;
    height:5vh;

}*/

/*RESET*/

*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
li{
    list-style:none;
}

a{
    text-decoration:none;
}

a,
img,
span,
input,
label,
button,
ion-icon,
textarea{
    display:block;
}

button{
    border: none;
    background:none;
    font:inherit;
    cursor:pointer;
}

input,
textarea{
    border:none;
    font:inherit;
    width:100%;
}

/*REUSED*/

.container{ padding-inline: 15px;}

/*HEADER*/
.header {
    overflow: visible;
    padding-block: 0;
    height: unset;
}

    .header.active {
        height: unset;
    }

.menu-toggle-btn {
    display: none;
}

.navbar {
    position: static;
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0;
}

.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 40px;
    margin-inline: auto;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-link,
.header-action-link {
    padding-block: 25px;
}



/**
   * HERO
   */

.hero .container {
    display: grid;
    grid-template-columns: 4fr 5fr;
    align-items: center;
    gap: 60px;
}

.hero-content {
    margin-bottom: 0;
}

:is(.navbar-link, header-action-link):is(:hover, :focus) {color:var(--majorelle-blue)}

