html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.mainLogo {
    width: 6vh;
    height: 6vh;
}
.background-image {
    margin:0;
    background-image: url('../images/main/mainBg.jpg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
#middleText {
    padding: 200px;
    text-align: center;

}

#mainText{
    color:white;
    font-weight:500;

}

.marika{
    z-index:1;
    
}

.colorBg{
    
    background-color:aquamarine;
}

/*mainBody{
    background-image: src(../images/main/mainBg.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}*/