html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

}

.background-image {
    background-image: src(../images/main/mainBg.jpg);
    width:100vh;
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
/*mainBody{
    background-image: src(../images/main/mainBg.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}*/